@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.background-main {
  background-image: url("/background.jpg");
}

.new-amsterdam-regular {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.zig-zag {
  --a: 90deg; /* the angle of the spikes */
  --s: 60px;  /* the size of the spikes */
  
  mask:  
    conic-gradient(from calc(var(--a)/-2) at bottom,
      #000 var(--a),#0000 0) 50%/var(--s);
}
